<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Patent Search Engine</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

</head>

<body>
    <% include navbar %>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Dataset List</div>
            <div class="panel-body">
                <% for (var i = 0 ; i < datasets.length ; i++ ) { %>
                <p><a href="/datasets/<%= datasets[i].dataset %>"><%= datasets[i].dataset %></a></p>
                <% } %>
            </div>
        </div>
    </div>
</body>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/javascripts/navbar.js" type="text/javascript"></script>
  
</html>