<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Patent Search Engine</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <script src="/javascripts/ejs.js" type="text/javascript"></script>

</head>

<body>
    <% include navbar %>
    <div class="container">
        <h1>Prediction</h1>
        <div class="panel panel-default step1div">
            <div class="panel-heading">Step 1 : Choose a patent</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control stepOneInput" value="7127343" name="pid">
                </div>
                <button class="btn btn-default stepOneBtn">Check Patent</button>
            </div>
        </div>
        
        <div class="panel panel-default step2div">
            <div class="panel-heading">Step 2 : Check relative patents</div>
            <div class="panel-body">
                <div id="bc_list">
                </div>
                <br>
                <button class="btn btn-default stepTwoBtn">Calculate!</button>
            </div>
        </div>

        <div class="panel panel-default step3div">
            <div class="panel-heading">Step 3 : Result</div>
            <div class="panel-body">
                <div id="result">
                </div>
            </div>
        </div>

    </div>
</body>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="/javascripts/navbar.js" type="text/javascript"></script>
    <script src="/javascripts/prediction.js" type="text/javascript"></script>
</html>